{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

 

<div class="container-fluid px-0 mb-3" >
  <img src="../static/team3.jpeg" class="d-block w-100 mx-0" alt="...">
</div>

<div class="row" >
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
  <img src="../static/manas1.jpeg" class="d-block w-100" alt="...">
      
      <div class="card-body">
        <p class="card-text"><h4>Manas Sewatkar</h4><br>Machine Learning</p>
        <div class="d-flex justify-content-between align-items-center">
         
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
  <img src="../static/ajay.jpeg" class="d-block w-100" alt="...">
      
      <div class="card-body">
        <p class="card-text"><h4>Ajay Patil</h4><br>Front End + Back End</p>
        <div class="d-flex justify-content-between align-items-center">
         
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
  <img src="../static/siddhesh1.jpeg" class="d-block w-100" alt="...">
      
      <div class="card-body">
        <p class="card-text"><h4>Siddhesh Pande</h4><br>Machine Learning</p>
        <div class="d-flex justify-content-between align-items-center">
         
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
  <img src="../static/divya1.jpeg" class="d-block w-100" alt="...">
      
      <div class="card-body">
        <p class="card-text"><h4>Divya Lambhate</h4><br>Front End</p>
        <div class="d-flex justify-content-between align-items-center">
         
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
  <img src="../static/vedant.jpeg" class="d-block w-100" alt="...">
      
      <div class="card-body">
        <p class="card-text"><h4>Vedant Madhe</h4><br>Data Sorting</p>
        <div class="d-flex justify-content-between align-items-center">
          
         
        </div>
      </div>
    </div>
  </div>
  

 
</div>

{% endblock body %}
