{% extends 'base.html' %}

{% block title %}Search Page{% endblock title %}

{% block body %}

    

    <div class="container" style="overflow-x:auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Restaurant name</th>
                    <th>Web Link</th>
                    <th>Locality</th>
                    <th>Rating out of 5</th>
                    <th>Cuisine</th>
                    <th>Charges for two</th>
                    <th>Rate us</th>
                </tr>
            </thead>
            <tbody>
                {% if d %}
                {% for i in d %}
                <tr>
                    <td>{{i.Restaurant_Name}}</td>
                    <td><a href={{i.Web_Link}} target="_blank">Website Link</a></td>
                    <td>{{i.Locality}}</td>
                    <td>{{i.Ratings_out_of_5}}</td>
                    <td>{{i.Cuisines}}</td>
                    <td>{{i.Charges_for_two}}</td>
                    <td><form action="/search", method="post">
                          {% csrf_token %}
                          <input type="radio" id="1star" name="rating" value='{{i.Restaurant_Name}}:1'>
                          <label for="1star">*</label>
                          <br>
                          <input type="radio" id="2star" name="rating" value='{{i.Restaurant_Name}}:2'>
                          <label for="2star">**</label>
                          <br>
                          <input type="radio" id="3star" name="rating" value='{{i.Restaurant_Name}}:3'>
                          <label for="3star">***</label>
                          <br>
                          <input type="radio" id="4star" name="rating" value='{{i.Restaurant_Name}}:4'>
                          <label for="4star">****</label>
                          <br>
                          <input type="radio" id="5star" name="rating" value='{{i.Restaurant_Name}}:5'>
                          <label for="5star">*****</label>
                          <br>
                          <button type="submit">Submit Rating</button>
                        </form> 
                    </td>
                </tr>
                {% endfor %}
                {% endif %}    
            </tbody>
        </table>
    </div>

    </div>
</section>
    
{% endblock body%}