{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<form action="" method="POST">
{% csrf_token %}


<div class="loginn">
    <section class="Form">
      <div class="container">
        <h2 class="section-heading color-login">Login</h2>
        <div class="row login-row">
          <div class="col-lg-7  pt-3 p-2">
            <img
              src="https://thumbs.dreamstime.com/b/account-login-password-key-computer-man-near-vector-male-character-design-concept-landing-page-web-poster-banner-184009994.jpg"
              class="img-fluid login-img"
              alt="..."
            />
          </div>
          <div class="col-lg-5 px-4 pt-4 p-2  ">
            <h4>Sign into your account</h4>
            
            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="button"  
                  
                  class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal"
                >
                  Login
                </button>

               
              </div>
            </div>
            <div class="password">
              <p>Forgot Password</p>
              <p>
                Don't have an Account ?<br>
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
                  SignUp
                  </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</form> 


<!-- SignUp Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/signup" method='post'>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username" required>
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
  </div>
 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST"> {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
  </div>
  <div class="form-group">
    <label for="pass">Enter your password </label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
  </div>
 
        <button type="submit" class="btn btn-primary">Login</button>
</form>
      </div>
       <div class="modal-footer">
      </div>

      

 





{% endblock body %}
