@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    margin:0px;
    padding:0px;
    background-image: linear-gradient(to right,#393aa2,#12203a);
}
.left{
    display: inline-block;
    position: absolute;
    

}
.left img{
    height:5.9vh;
    width:4vw;
    margin-left: 0vw;
}
.mid{
    display: block;
    width:33%;
    
    margin: 0px auto;


}
.right{
    position: absolute;
    right:34px;
    top:20px;
    display:inline-block;

}
.nav{
    position: sticky;
    background-color: #040449;
}
.navbar{
    
    display: inline-block;


}
.text-center{
    text-align: center;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navattr{
    font-family: 'Poppins',sans-serif;
    font-size: large;
}
.navattr:hover{
    text-decoration: underline;
    color:rgb(66,62,181)!important;
    transition:color 0.5s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

.search{
    margin-right: 12px;
}


.body-header{
    /* height: 65vh; */
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to right, #393aa2, #12203a);
}

.text-center {
    text-align: center;
}

#social-conatiner {
    display: flex;
    align-items: center;
    height: 56vh;
    justify-content: center;
    color: white;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.my-name{
    color: #faf9fc!important;
    
}

.header-image{
     /* width: 100%; */
     object-fit: fill;
     height: 500px;
     margin: 9px;
     margin-left: -78vh;
     
}

.name{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: -37vh;
    margin-right: 56px;
}

.about-card{
    width: 20rem;
    height: 24.9rem;
    margin: 32vh 86vh;
    background: rgb(94 110 165);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(56, 64, 147, 0.3);
}

.about-card-img {
    width: 20rem;
    height: 15rem;
    
}

.img-changes{
    object-fit: cover;
}


